<h2 mat-dialog-title style="text-align: center">Crear Informe de Aprendizaje</h2>
<hr style="width:90%; border-color: turquoise;">

<mat-dialog-content>
    <form (ngSubmit)="addOpcion()" #forma="ngForm">

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="inaprendizaje.semana" name="semana" type="number" placeholder="Semana"  pattern="^[0-9]*$" required="Ingrese el número de semana">
                <mat-error>valores enteros sin decimales</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inaprendizaje.calificacion" name="calificacion" type="number" placeholder="Calificación" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inaprendizaje.fechaEntrega" name="fechaEntrega" type="date" placeholder="Fecha de Entrega" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inaprendizaje.reflexion" name="reflexion" type="text" placeholder="Reflexión" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inaprendizaje.observaciones" name="reflexion" type="text" placeholder="Observaciones" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inaprendizaje.prioridad"  name="see" type="number" placeholder="Prioridad " required  >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inaprendizaje.fptraining.id" name="werr" type="number" placeholder="Marco de Formación "  required >  
            </mat-form-field>
<!-- 
            <mat-form-field>
                <mat-label>Sistemas</mat-label>
                <mat-select [(ngModel)]="data.sisId" name="sisestado">
                    <mat-option *ngFor="let sistema of sistems " value="{{sistema.sisId}}">
                        {{sistema.sisNombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center">
    <button mat-raised-button mat-primary color="primary" (click)="cerrarModal()">Cancelar</button>
    <button [disabled]="!forma.valid" mat-raised-button mat-primary color="warn" (click)="addOpcion()">Agregar</button>
</mat-dialog-actions>