<h2 mat-dialog-title style="text-align: center" >Crear Nuevo Plan de Rotación</h2>
<hr style="width:90%; border-color: turquoise;">
<mat-dialog-content>
    <form (ngSubmit)="addSistema()" #forma="ngForm">
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="protacion.conocimientosTeoricos" name="descripcion" type="text" placeholder="Conocimientos Teóricos" required="conocimientosTeoricos" >
            <mat-error>Mínimo 7 letras /*caracteres especiales NO ADMITIDOS*</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput [(ngModel)]="protacion.conocimientosProcedimentales" name="url" type="text" placeholder="Conocimientos Procedimentales" required >  
            </mat-form-field>
            <mat-form-field>
                <input matInput  [(ngModel)]="protacion.conocimientosActitudinales" name="u" type="text" placeholder="Conocimientos Actitudinales"  required   >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="protacion.prioridad" name="rl" type="number" placeholder="Prioridad"  required  >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="protacion.fptraining.id" name="werr" type="number" placeholder="Marco de Formación "  required >  
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center">
    <button mat-raised-button mat-primary color="primary" (click)="cerrarModal()">Cancelar</button>
    <button [disabled]="!forma.valid" mat-raised-button mat-primary color="warn" (click)="addSistema()">Agregar</button>
</mat-dialog-actions>

