<footer class="footer text-white">
    <!--   
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success"> -->

    <div class="container-fluid">
        <!-- Copyright -->
        <div class="copyright text-center">
            Universidad de las Fuerzas Armadas ESPE
            {{test | date: 'yyyy'}} &copy; Todos los derechos reservados -
            <img class="img img-responsive" src="../../../assets/img/logoESPE.png" alt="logo" width="25">
        </div>
        <!-- Copyright -->
    </div>
    <!-- </div>
            </div>
        </div> -->

</footer>

<!-- Footer -->