<h2 mat-dialog-title>Editar Plan de Rotacion</h2>

<mat-dialog-content>
  <form (ngSubmit)="actualizarPlanRotacion()" #forma="ngForm">
    <div>
      
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.conocimientosTeoricos" name="objetivo" type="text" placeholder="objetivo" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.conocimientosProcedimentales" name="descripcion" type="text" placeholder="descripcion"
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.conocimientosActitudinales" name="indicador" type="text" placeholder="indicador" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.prioridad" name="prioridad" type="text" placeholder="prioridad "
          required>
      </mat-form-field>
      <!-- <mat-form-field>
                <input matInput name="fid" type="text" placeholder="Marco de Formacion"  required >  
            </mat-form-field> -->
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cerrarModal()">Cancelar</button>
  <button mat-raised-button mat-primary (click)="actualizarPlanRotacion(data.data.id)">Actualizar</button>
</mat-dialog-actions>