<h2 mat-dialog-title style="text-align: center" >EDITAR PLAN DE ROTACIÓN</h2>
<hr style="width:90%; border-color: turquoise;">

<mat-dialog-content>
  <form (ngSubmit)="actualizarPlanRotacion()" #forma="ngForm">
    <div>
      
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.conocimientosTeoricos" name="objetivo" type="text" placeholder="objetivo" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.conocimientosProcedimentales" name="descripcion" type="text" placeholder="descripcion"
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.conocimientosActitudinales" name="indicador" type="text" placeholder="indicador" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.data.prioridad" name="prioridad" type="text" placeholder="prioridad "
          required>
      </mat-form-field>
      <!-- <mat-form-field>
                <input matInput name="fid" type="text" placeholder="Marco de Formacion"  required >  
            </mat-form-field> -->
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center">
  <button mat-raised-button mat-primary color="primary" (click)="cerrarModal()">Cancelar</button>
  <button mat-raised-button mat-primary color="warn" (click)="actualizarPlanRotacion(data.data.id)">Actualizar</button>
  </mat-dialog-actions>