<h2 mat-dialog-title>Editar Plan Marco de formacion</h2>

<mat-dialog-content>
    <form (ngSubmit)="actualizarPlanMarco()" #forma="ngForm">
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="data.data.descripcion"  name="descripcion" type="text" placeholder="descripcion" required="Ingrese un nombre de sistema" >
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput  [(ngModel)]="data.data.nivelLogroEsperado"  name="nivelLogroEsperado" type="text" placeholder="nivelLogroEsperado" required >  
            </mat-form-field>
            <mat-form-field>
                <input matInput  [(ngModel)]="data.data.nivelLogroAlcanzado"  name="nivelLogroAlcanzado" type="text" placeholder="nivelLogroAlcanzado"  required   >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.data.tareas"  name="tareas" type="text" placeholder="tareas"  required  >  
            </mat-form-field>
            <mat-form-field>
                <input matInput  [(ngModel)]="data.data.puestoAprendizaje"  name="puestoAprendizaje" type="text" placeholder="puestoAprendizaje" required >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.data.semanasTrabajo" name="semanasTrabajo" type="text" placeholder="semanasTrabajo"  required  >  
            </mat-form-field>
            <mat-form-field>
                <input matInput  [(ngModel)]="data.data.semana" name="semana" type="text" placeholder="semana"  required >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.data.responsable" name="responsable" type="text" placeholder="responsable"  required  >  
            </mat-form-field>
            <mat-form-field>
                <input matInput  [(ngModel)]="data.data.prioridad" name="prioridad" type="text" placeholder="prioridad " required  >  
            </mat-form-field>
            <!-- <mat-form-field>
                <input matInput name="fid" type="text" placeholder="Marco de Formacion"  required >  
            </mat-form-field> -->
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="cerrarModal()">Cancelar</button>
    <button mat-raised-button mat-primary (click)="actualizarPlanMarco(data.data.id)">Actualizar</button>
</mat-dialog-actions>