<div class="row">
  <div class="col-lg-2">
    <h5 class="text-muted">MATRÍCULAS</h5>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success btn-sm" (click)="getMatriculadosCount()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xl-4" *ngFor="let matricula of total_matriculados_count">
    <div class="card">
      <div style="height: 170px;">
        <div class="card-header bg-white h-100 text-center"
             [ngClass]="{'bg-warning':matricula.malla=='MALLA ANTIGUA'}">
          <img src="{{'assets/images/logo_carrera_'+matricula.carrera_id +'.jpg'}}" alt="" class="img-thumbnail">
          <h6 class="text-muted">{{matricula.malla}}</h6>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            <h6 class="small text-success">
              Matriculados: {{matricula.matriculados}}
            </h6>
          </div>
          <div class="col-lg-4">
            <h6 class="small text-warning">
              Aprobados: {{matricula.aprobados}}
            </h6>
          </div>
          <div class="col-lg-4">
            <h6 class="small text-danger">
              En Proceso: {{matricula.en_proceso}}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>



