<h2 mat-dialog-title style="text-align: center">Crear Informe de Aprendizaje</h2>
<hr style="width:90%; border-color: turquoise;">

<mat-dialog-content>
    <form (ngSubmit)="addOpcion()" #forma="ngForm">

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.descripcion" name="descripcion" type="text" placeholder="Descripción" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.tipo" name="tipo" type="text" placeholder="Tipo" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.fecha" name="fecha" type="date" placeholder="Fecha" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.horaIngreso" name="horaIngreso" type="time" placeholder="Hora de Ingreso" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.horaSalida" name="horaSalida" type="time" placeholder="Hora de Salida" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.horaAlmuerzo"  name="horaAlmuerzo" type="time" placeholder="Hora de Almuerzo" required  >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.horasTotales" name="horasTotales" type="number" placeholder="Horas Totales"  required >  
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.prioridad" name="prioridad" type="number" placeholder="Prioridad"  required >  
                </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="inEstuaprendizaje.inftutor.id" name="tutor" type="number" placeholder="Informe de aprendizaje Tutor"  required >  
            </mat-form-field>
<!-- 
            <mat-form-field>
                <mat-label>Sistemas</mat-label>
                <mat-select [(ngModel)]="data.sisId" name="sisestado">
                    <mat-option *ngFor="let sistema of sistems " value="{{sistema.sisId}}">
                        {{sistema.sisNombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center">
    <button mat-raised-button mat-primary color="primary" (click)="cerrarModal()">Cancelar</button>
    <button [disabled]="!forma.valid" mat-raised-button mat-primary color="warn" (click)="addOpcion()">Agregar</button>
</mat-dialog-actions>