<h2 mat-dialog-title>Crear Informe de aprendizaje </h2>

<mat-dialog-content>
    <form (ngSubmit)="addOpcion()" #forma="ngForm">

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="data.opcNombre" name="opcNombre" type="text" placeholder="opcNombre "
                    required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.opcNivel" name="opcNivel" type="text" placeholder="opcNivel" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.opcOrden" name="opcOrden" type="text" placeholder="opcOrden" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.opcUrl" name="opcUrl" type="text" placeholder="opcUrl" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sistemas</mat-label>
                <mat-select [(ngModel)]="data.sisId" name="sisestado">
                    <mat-option *ngFor="let sistema of sistems " value="{{sistema.sisId}}">
                        {{sistema.sisNombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="cerrarModal()">Cancelar</button>
    <button [disabled]="!forma.valid" mat-raised-button mat-primary color="primary"
        (click)="addOpcion()">Agregar</button>
</mat-dialog-actions>