<h2 mat-dialog-title style="text-align: center" >Crear Nuevo Plan Marco de Formación</h2>
<hr style="width:90%; border-color: turquoise;">
<mat-dialog-content>
  <form (ngSubmit)="addSistema()" #forma="ngForm">
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.descripcion" name="descripcion" type="text"
          placeholder="Descripción" required="descripcion">
        <mat-error>Mínimo 7 letras /*caracteres especiales NO ADMITIDOS*</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.nivelLogroEsperado" name="nivelLogroEsperado" type="text"
          placeholder="Nivel de Logro Esperado" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.nivelLogroAlcanzado" name="nivelLogroAlcanzado" type="text"
          placeholder="Nivel de Logro Alcanzado" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.tareas" name="tareas" type="text"
          placeholder="Tareas" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.puestoAprendizaje" name="puestoAprendizaje" type="text"
          placeholder="Puesto de Aprendizaje" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.semanasTrabajo" name="semanasTrabajo" type="number"
          placeholder="Semanas de Trabajo" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.semana" name="semana" type="number" placeholder="Semana" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.responsable" name="responsable" type="text" placeholder="Responsable" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.prioridad" name="prioridad" type="number" placeholder="Prioridad" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="pmarcoformacion.fptraining.id" name="werr" type="number" placeholder="Marco de Formacion" required>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center">
  <button mat-raised-button mat-primary color="primary" (click)="cerrarModal()">Cancelar</button>
  <button [disabled]="!forma.valid" mat-raised-button mat-primary color="primary"
    (click)="addSistema()">Agregar</button>
</mat-dialog-actions>